[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=texture_master_exporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Texture Master Exporter
Comment=Getting a docker set up
